ai/ linguist-vendored=true
antigravity-bin/ linguist-vendored=true
Clouded/ linguist-vendored=true
CipherChat/ linguist-vendored=true
chromakey/ linguist-vendored=true
cltunnel/ linguist-vendored=true
editpy/ linguist-vendored=true
flask_AuthGenius/ linguist-vendored=true
IAm/ linguist-vendored=true
IPApi-PY/ linguist-vendored=true
MouseMovement/ linguist-vendored=true
PoF/ linguist-vendored=true
pq-chat-app/ linguist-vendored=true
proxycall/ linguist-vendored=true
PyVault/ linguist-vendored=true
repo/ linguist-vendored=true
rusty-loadbalancing/ linguist-vendored=true
statuspage/ linguist-vendored=true
statussentinel/ linguist-vendored=true
SillyPython/ linguist-vendored=true
Tunnels/ linguist-vendored=true
