csscompressor>=0.9.5
htmlmin2>=0.1.13
netaddr>=1.3.0
jsmin>=3.0.1
uvicorn>=0.38.0
fastapi>=0.121.2
black>=25.11.0
pandas>=2.3.3
IP2Location>=8.11.0
pgeocode>=0.5.0
python-multipart>=0.0.20
dnspython>=2.8.0
IP2Proxy>=3.6.0
pytz>=2025.2
timezonefinder>=8.1.0
maxminddb>=3.0.0
tld>=0.13.1
pandas-stubs>=2.3.2.250926
