<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Some Email Client</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <main>
            <div class="sidebar">
                <button class="folder active"><img class="inbox" alt="Inbox"> Inbox</button>
                <button class="folder"><img class="drafts" alt="Drafts"> Drafts</button>
                <button class="folder"><img class="sent" alt="Sent"> Sent</button>
                <button class="folder"><img class="flagged" alt="Flagged"> Flagged</button>
                <button class="folder"><img src="archive.png" alt="Archive"> Archive</button>
                <button class="folder"><img src="spam.png" alt="Spam"> Spam</button>
                <button class="folder"><img src="trash.png" alt="Trash"> Trash</button>
            </div>
            <div class="main-content">
                <div class="action-menu">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <span class="folder-name header">Inbox</span>
                    <img class="left-arrow" alt="Previous Page">
                    <span class="page-info">1/1</span>
                    <img class="right-arrow" src="right.png" alt="Next Page">
                </div>
                <div class="email-list">
                    <!--
                    <div class="email-item">
                        <div class="sender-img-container">
                            <img class="sender-logo" src="t.png" onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';">
                            <div class="alt-text">C</div>
                        </div>
                        <div class="email-info">
                            <span class="sender-name">Cloudflare</span>
                            <span class="email-subject">[Cloudflare]: CT Monitoring Enabled</span>
                        </div>
                        <div class="email-actions">
                        </div>
                    </div>
                    -->

                    
                    <div class="no-emails">
                        <img src="" alt="No Emails">
                        <p>We have nothing for you right now!</p>
                    </div>

                    <!-- Email Content
                    <div class="email-content">
                        <img src="back.png" alt="Back" class="back-button">
                        <div class="email-title">Email Title</div>
                        <div class="email-details">
                            <div class="email-from">
                                <span>From:</span>
                                <img src="lock.png" alt="Secure" class="secure-icon">
                                <span class="sender-name">Sender Name</span>
                                <span class="sender-email">&lt;sender@example.com&gt;</span>
                            </div>
                            <div class="email-for">
                                <span>For:</span>
                                <span class="recipient-email">&lt;example@example.com&gt;</span>
                            </div>
                        </div>
                        <div class="email-body">
                        </div>
                    </div>
                </div>
                -->
            </div>
        </main>
    </body>
</html>

<!--
    <a href="https://www.flaticon.com/free-icons/paperplane" title="paperplane icons">Paperplane icons created by meaicon - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/next" title="next icons">Next icons created by Roundicons - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/inbox" title="inbox icons">Inbox icons created by Kiranshastry - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/document" title="document icons">Document icons created by Freepik - Flaticon</a>
-->
