pkgbase = google-antigravity-bin
	pkgdesc = Google Antigravity IDE - AI-powered development platform
	pkgver = 1.14.2
	pkgrel = 1
	url = https://antigravity.google/
	arch = x86_64
	license = custom
	makedepends = tar
	depends = alsa-lib
	depends = dbus
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libxkbfile
	depends = libxss
	depends = nss
	depends = xdg-utils
	depends = ripgrep
	depends = fd
	provides = antigravity
	provides = google-antigravity
	conflicts = antigravity
	conflicts = google-antigravity
	options = !strip
	source = antigravity-1.14.2.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.14.2-1768287740_amd64_5527204873323b09e7e6bc003cf22f91.deb
	sha256sums = 770f440b025afba6d140a0791e91f16e957456f501c766948710c939eff09206

pkgname = google-antigravity-bin
